<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Sports Scheduler</title>
  <link rel="icon" href="/sports-icon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/home.css" />
</head>

<body>
  <!-- Navbar Section -->
  <nav class="navbar">
    <div class="container">
      <h1 class="gradient-text">Sports Scheduler</h1>
      <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
    </div>
  </nav>

  <!-- Main Content Container -->
  <div class="container">
    <!-- Main Section: Introduction -->
    <div class="main-section">
      <h1 class="gradient-text">Welcome to Sports Scheduler</h1>
      <p class="gradient-text">
        Simplify your sports management with our innovative platform. Organize schedules, teams, and stats effortlessly.
      </p>

      <!-- Features List Section -->
      <ul class="features-list">
        <li>
          <h2 class="gradient-text">Comprehensive Team Management</h2>
          <p class="gradient-text">Set up teams, manage player assignments, and track performance metrics with ease.</p>
          <img style="height: 200px;" src="https://www.gettyimages.ie/gi-resources/images/HomepageCurationTilesUK/2021_8_AUGUST/sport.jpg">
        </li>
        <li>
          <h2 class="gradient-text">Streamlined Scheduling</h2>
          <br>
          <p class="gradient-text">Plan and oversee sports events, matches, and sessions with customizable filters.</p>
          <img style="height: 200px;" src="https://i.etsystatic.com/9353306/r/il/033a7d/2241736700/il_1588xN.2241736700_iqmo.jpg">
        </li>
        <li>
          <h2 class="gradient-text">Player Profiles</h2>
          <br>
          <p class="gradient-text">Allow players to register, update profiles, and manage their involvement in activities.</p>
          <img style="height: 200px;" src="https://th.bing.com/th/id/OIP.N7Q3Ql-yeg5q-KT9td4kBAHaHa?w=189&h=189&c=7&r=0&o=5&dpr=1.3&pid=1.7">
        </li>
        <li>
          <h2 class="gradient-text">Detailed Reports</h2>
          <p class="gradient-text">Access in-depth analyses of team and player stats to make informed decisions.</p>
        </li>
        <li>
          <h2 class="gradient-text">Timely Alerts</h2>
          <p class="gradient-text">Stay updated with instant notifications about changes, events, and announcements.</p>
        </li>
        <li>
          <h2 class="gradient-text">Admin Dashboard</h2>
          <p class="gradient-text">Empower administrators with tools to oversee users, teams, sessions, and system settings.</p>
        </li>
      </ul>
    </div>
  </div>
</body>
<!-- Footer Section -->
<footer class="footer">
  <div class="container">
    <p>&copy; 2025 Sports Scheduler. All Rights Reserved.</p>
  </div>
</footer>
</html>
